.logo {
    width: 150px;
    float: left;
}

.logo a {
    display: inline-block;
    font-size: 20px;
    /*padding: 19px 20px;*/
    text-transform: capitalize;
    color: white;
    font-weight: 600;
}
