@inherits LayoutComponentBase

<Layout Class="layout" Style="height: 100%">
    <NavMenu />
    <div Style="padding: 0; margin-top: 64px; height: 100%">
        @Body
    </div>
    <Footer>
        </Footer>
</Layout>
