@inherits LayoutComponentBase

<Layout Style="display: flex; flex-direction: column; height: 100%">
    <Header>
        <AuthorizeView>
            <Authorized>
                <NavMenu />
            </Authorized>
            <NotAuthorized>
                <a href="authentication/login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </Header>
    <Content Style="flex-grow: 1;">
        @Body
    </Content>
    <Footer>LinkedOut</Footer>
</Layout>