

<TimelineItem Color="@_color">
    <span>@_label</span>
    <br />
    <span>@Timestamp.ToShortDateString() @Timestamp.ToShortTimeString()</span>
</TimelineItem>


@code {
    [Parameter]
    public DateTime Timestamp { get; set; }

    [Parameter]
    public ApplicationStatuses From { get; set; }

    [Parameter]
    public ApplicationStatuses To { get; set; }

    [Parameter]
    public ApplicationResolutions? Resolution { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (To == ApplicationStatuses.CLOSED)
        {
            if (Resolution == ApplicationResolutions.REJECTED)
            {
                _label = "Rejected";
                _color = "red";
            }
            else if (Resolution == ApplicationResolutions.WITHDRAWN)
            {
                _label = "Withdrawn";
                _color = "gray";
            }
            else
            {
                _label = "Closed";
                _color = "gray";
            }
        }
        else if (To == ApplicationStatuses.INPROGRESS)
        {
            _label = "Opportunity tracked";
            _color = "gold";
        }
        else if (To == ApplicationStatuses.SUBMITTED)
        {
            _label = "Applied";
            _color = "green";
        }
        else
        {
            _label = $"{From} to {To}";
            _color = "gray";
        }
    }

    string _color = "blue";
    string _label = "";
}
