@page "/counter"
@inject ILogger<Counter> _logger

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        _logger.LogDebug("Unscoped logging message");
        var scopeDictionary = new Dictionary<string, object>
        {
            ["UserId"] = "12345",
            ["OperationType"] = "increment"
        };

        using (_logger.BeginScope(scopeDictionary))
        {
            _logger.LogDebug("Incrementing count from {CounterCurrent} to {CounterNew}", currentCount, currentCount + 1);
        }

        currentCount++;
    }
}
