@using LinkedOut.Application.JobSearches.Queries.GetJobSearch

<h3>JobSearchCalendar</h3>

@code {
    //[Parameter]
    //public List<JobApplicationSummaryDto> JobApplications { get; set; } = new();
}
